{{ $page := .page }}
<section class="cs-section wrap">
  <div class="cs-text">
    <h2>{{ .heading }}</h2>
    <p>{{ .body }}</p>
  </div>
  {{ with .images }}
  <div class="cs-figs{{ if gt (len .) 1 }} is-grid{{ end }}">
    {{ range . }}
      {{ $res := $page.Resources.GetMatch . }}
      {{ if $res }}
        {{ if eq $res.MediaType.SubType "svg" }}
          <img class="fig" src="{{ $res.RelPermalink }}" alt="{{ $.heading }}" loading="lazy">
        {{ else }}
          {{ $img := $res.Resize "1200x webp q80" }}
          <img class="fig" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" alt="{{ $.heading }}" loading="lazy">
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
  {{ end }}
</section>
